@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.first-backslider{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 100px;
    margin-top: 90px;
    left: 0px;
    width: 1285px;
    pointer-events: none;
    transition: transform 0s linear -1ms, -webkit-transform 0s linear -1ms;
    background-size: 1285px 803.12px;
    transform: translate3d(0px, -70px, 0px);
    height: 550px;
    /* background-image: url('http://unionagency.one/delice/img/about/main-baner-bg.jpg'); */
}

.duis{
    color: rgba(255,255,255,0.7);
    text-align: center;
    margin-left: -450px;
    font-size: 19px;
}

.aboutUs-title{
    color: white;
    font-size: 96px;
    font-weight: 550;
}

.first-section-text{
    padding-top: 170px;
    padding-left: 490px;
}

.aboutUs-second-section{
    padding-left: 60px;
    padding-bottom: 80px;
    padding-right: 50px;
}

.twenty-years{
    font-weight: 700;
    color: #4b4b4b;
    font-size: 40px;
    margin-bottom: 20px;
}

.esse-in{
    color: #464646;
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 20px;
}

.lorem-ipsum{
    color: #898989;
    margin-bottom: 20px;
    line-height: 22px;
}
.aute-irure{
    line-height: 22px;
    color: #898989;
}

.second-backparalax{
    position: relative;
}

 .backparalax-div{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('http://unionagency.one/delice/img/about/baner-2-bg.jpg'); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    left: 0px;
    width: 1285px;
    height: 550px;
    background-size: 1285px 803.12px;
} 

.text-second-backparalax{
    padding-top: 30px;
    background-color: white;
    width: 800px;
    height: 400px;
    margin-left: 210px;
    margin-right: 280px
}

.our-customer{
    color: #be9a67;
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    margin-top: -90px;
    padding-top: 80px;
    text-align: center;
}

.meet-our-team{
    font-family: 'Cormorant Garamond', serif;
}


.swiper-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.first-swiper-wrapper{
    width: 212px;
    margin-right: 20px
}

.first-swiper__text{
    visibility: visible;
    opacity: 1;
    color: #898989;
}

.swipper-icons{
    display: flex;
    justify-content: space-evenly;
}

.swipper-icons-item:hover{
    color:#be9a67;
    /* background-color: #898989; */
}


.third-backparalax{
    position: relative;
}

.gallery-div{
    margin-bottom: 50px;
}

.ideas-for-div{
    width: 50%;
    text-align: center;
}

.about-us-photo{
    width: 214px;
}

.ideas-for-new{
    width: 100%;
    display: flex;
}

.ideas-for-left{
    width: 50%;
}

.third-backparalax-div{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('http://unionagency.one/delice/img/about/baner-3-bg.jpg'); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    left: 0px;
    width: 1285px;
    height: 550px;
    background-size: 1285px 803.12px;
}

@media only screen and (max-width: 320px){
    .swiper-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .about-us-image{
        display: flex;
        flex-wrap: wrap;
    }
    .twenty-years-div{
        display: flex;
        flex-wrap: wrap;
    }
    .twenty-years-first{
        width: 100%;
    }
    .twenty-years-second{
        width: 100%;
    }
    .about-us-photo{
        width: 105px;
    }
    .ideas-for-new{
        display: flex;
        flex-wrap: wrap;
    }
} 