/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Great+Vibes&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:wght@400&display=swap');


/* reservation form */
.book-container {
    background-color: #fafafa;
    margin: 200px;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

.container-time {
    background-color: rgba(0, 0, 0, .95);
    padding: 50px;
    outline: 3px dashed #be9a67;
    outline-offset: -30px;
    text-align: center;
}

.heading {
    font-size: 35px;
    text-transform: uppercase;
}
  
.heading-days {
    color:#be9a67;
    font-size: 30px;
  
}
  
  .heading-phone {
      font-size: 20px;
  }
  .container-form {
      padding: 20px 0;
      margin: 0 auto;
      color: #000;
  }
  .container-form form {
      display: grid;
      grid-row-gap: 20px;
  }
  .container-form form p {
      font-weight: 600;
  }
  .form-field {
      display: flex;
      justify-content: space-between;
  }
  
  .form-field input,select {
      pad: 10px 15px;
  }
  
  .btn {
      width: 50%;
      background-color: rgba(0, 0, 0, .95);
      color: #fff;
      padding: 10px 20px;
      border: none;
      font-size: 18px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
      cursor: pointer;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
  }
  
  .btn:hover {
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
  }
/* reservation form END */



/* contacts section */
.contacts {
    margin-top: -60px;
    text-align: center;
}
.contacts h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Cormorant Garamond', serif;
    color: #4b4b4b;
}

.contacts p {
    margin-top: -25px;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.contacts-section h4 {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lora', serif;
    text-align: center;
}

.contacts span {
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #898989;
}

.info {
    margin: 100px;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.info h3 {
    color:#be9a67;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lora', serif;
}

.info p {
    color: #000;
    font-size: 16px;
    font-family: 'Lora', serif;
    cursor: pointer;
}

.info p:hover {
    color: #be9a67;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.follow-icons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    max-width: 100%;
    width: 250px;
    margin-left: 630px;
}

.follow-icons a {
    color: #4b4b4b;
}

.follow-icons a:hover {
    color: #be9a67;
}
/* contacts section END */

/* location map */
.responsive-map{
    top: 70px;
    margin-bottom: -273px;
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-map iframe{
    left: 0;
    height: 60%;
    width: 100%;
    position:absolute;
    
}
/* location map END */

@media screen and (max-width: 1440px) {
    .follow-icons {
        font-size: 30px;
        max-width: 100%;
        width: 250px;
        margin-left: 595px;
    }
}

@media screen and (max-width: 1024px) {
    .book-container {
        margin: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .info {
        margin: 20px;
        margin-bottom: 30px;
    }

    .container-time {
        padding: 40px;
        text-align: center;
    }

    .container-form {
        padding: 50px 20px;
    }

    .container-form form {
        display: grid;
        grid-row-gap: 10px;
    }

    .follow-icons {
        font-size: 25px;
        max-width: 100%;
        width: 250px;
        margin-left: 390px;
    }

    .responsive-map{
        top: 60px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    
    .responsive-map iframe {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .book-container {
        margin: 30px;
    }

    .contacts {
        margin-top: 60px;
        text-align: center;
       
    }

    .contacts-section {
        width: 100%;
    }

    .info {
        margin-bottom: 50px;
        text-align: center;
    }

    .follow-icons {
        font-size: 20px;
        margin-left: 265px;
    }

    .responsive-map{
        top: 60px;
        margin-bottom: -26px;
        overflow: hidden;
    }
    
    .responsive-map iframe {
        height: 80%;
    }
}

@media screen and (max-width: 425px) {
    .reservation {
        width: 100%;
    }

    .book-container {
        margin: 30px;
    }

    .contacts {
        margin-top: 60px;
        text-align: center;
       
    }

    .contacts-section {
        width: 100%;
    }

    .info {
        margin-bottom: 50px;
        text-align: center;
    }

    .follow-icons {
        font-size: 20px;
        margin-left: 265px;
    }

    .responsive-map{
        top: 60px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    
    .responsive-map iframe {
        height: 100%;
    }
}

