@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Great+Vibes&family=Lora:wght@600&display=swap');


.detail-info h2 {
    margin-bottom: 1px;
    font-size: 52px;
    font-family: 'Great Vibes', cursive;
    color: #be9a67;
}

.detail-info h4 {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.detail-info h3 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Lora', serif;
}

.bottom-info {
    margin-top: 100px;
    text-align: center;
}

.like-button {
    font-size: 20px;
    color:  black;
}

.liked {
    font-weight: bold;
    color: #1565c0;
  }









